body {
  background: #1f2b3b;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
}

a {
  padding: 30px;
  color: #ff8a00;
  text-decoration: none;
  font-size: 22px;
}

.greeting {
  font-size: 65px;
  padding-left: 150px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

mark {
  padding-right: 5px;
  color: #d6cfc6;
  text-decoration: none;
  background: none;
}

.func {
  padding-left: 10%;
  color: #ff8a00;
  font-family: 'Roboto', sans-serif;
}

.about {
  display: flex;
  justify-content: center;
  color: #d6cfc6;
  font-family: 'Roboto', sans-serif;
}

.icons {
  margin-left: 40px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  a {
    float: none;
    width: 100%;
  }
}
